body {
	background-color: red;
}

#glav a {
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
	color: yellow;
	text-decoration: underline;
}

#glav h1 {
	font-family: 'Ruslan Display', cursive;
	color: green;
	font-style: italic;
}

#contact h2 {
	font-family: 'Ruslan One', cursive;
	color: blue;
	font-style: italic;
	font-size: 36px;
	border: 8px groove green; 
	padding: 30px 10px;
	margin: 30px 10px;
	border-radius: 30px;
	background: yellow;
	text-align: center;
	text-decoration: underline;
}

#contact ol {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	text-align: center;
}

#contact a {
	color: gold;
}

#vver img{
	display: block;
	margin: 0 auto;
}