body {
	background-color: red;
}

#glav a {
	color: yellow;
	text-decoration: underline;
}

#glav h1 {
	color: green;
	font-style: italic;
}

#photo h2 {
	color: blue;
	font-style: italic;
	font-size: 36px;
	border: 8px groove green; 
	padding: 30px 10px;
	margin: 30px 10px;
	border-radius: 30px;
	background: yellow;
	text-align: center;
	text-decoration: underline;
}

#photo img {
	border: 5px dotted white;
	border-radius: 300px;
}

#vver img{
	display: block;
	margin: 0 auto;
}