body {
	background-color: red;
}

#glav a {
	color: yellow;
	text-decoration: underline;
}

#glav h1 {
	color: green;
	font-style: italic;
}

#glavsa h2 {
	color: blue;
	font-style: italic;
	font-size: 36px;
	text-align: center;
}

#ld h2 {
	border: 5px dotted green; 
	padding: 30px 10px;
	margin: 30px 10px;
	border-radius: 25px;
	background: yellow;
	text-align: center;
}