body {
	background-color: red;
}

#glav a {
	font-family: 'Russo One', sans-serif;
	color: yellow;
	text-decoration: underline;
}

#glav h1 {
	font-family: 'Ruslan Display', cursive;
	color: green;
	font-style: italic;
}

#glavsa h2 {
	font-family: 'Russo One', sans-serif;
	color: blue;
	font-style: italic;
	font-size: 36px;
	border: 8px groove green; 
	padding: 30px 10px;
	margin: 30px 10px;
	border-radius: 30px;
	background: yellow;
	text-align: center;
	text-decoration: underline;
}

#vver img {
	display: block;
	margin: 0 auto;
}

.dani {
	background: blue url("../image/day.png") top right/70px 70px no-repeat;
}

.dani h1 {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: yellow;
	font-size: 100px;
}

.dani:hover h1 {
	background: purple url("../image/night.png") bottom left/70px 70px no-repeat;
	color: black;
}