body {
	background-color: red;
}

#glav a {
	font-family: 'Russo One', sans-serif;
	color: yellow;
	text-decoration: underline;
}

#glav h1 {
	font-family: 'Ruslan Display', cursive;
	color: green;
	font-style: italic;
}

#glavsa h2 {
	font-family: 'Pacifico', cursive;
	font-family: 'Russo One', sans-serif;
	color: blue;
	font-style: italic;
	font-size: 36px;
	border: 8px groove green; 
	padding: 30px 10px;
	margin: 30px 10px;
	border-radius: 30px;
	background: yellow;
	text-align: center;
	text-decoration: underline;
}

.d:hover {
	background-color: yellow;
}

.d:active {
	background-color: black;
}

.d:focus {
	background-color: green;
}

.w:visited {
	color: green;
}

a {
	cursor: pointer; 

#vver img {
	display: block;
	margin: 0 auto;
}

.dani {
	background: blue url("../image/day.png") top right/70px 70px no-repeat;
}

.dani h1 {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	color: yellow;
	font-size: 100px;
}

.dani:hover h1 {
	background: purple url("../image/night.png") bottom left/70px 70px no-repeat;
	color: black;
}

#element {
  	margin: 0px;
  	height: 100px;
  	width: 500px;
  	border: 1px solid grey;
}

#element1 {
  	position: relative;
  	background: hotpink;
  	width: 60px; 
  	height: 60px;
  	top: 20px;
  	left: 100px;
}

#element2 {
  	position: relative;
  	background: hotpink;
  	width: 60px; 
  	height: 60px;
  	top: -40px;
  	left: 200px;
}

#element3 {
  	position: relative;
  	background: hotpink;
  	width: 60px; 
  	height: 60px;
  	top: -100px;
  	left: 300px;
}

#ministat {
	border: 1px solid black;
	border-radius: 4px;
}

#ministat h1 {
	text-align: center;
	font-family: sans-serif;
}

#ministat p {
	text-align: center;
	font-family: cursive;
}


#kotik h1 {
	text-align: center;
	font-family: sans-serif;
}

#kotik p {
	text-align: left;
	font-family: cursive;
}

#zvetred {
	position: relative;
  	background: pink;
  	width: 60px; 
  	height: 60px;
  	top: 50px;
  	left: 300px;
  	z-index: 1;
}

#zveta h1 {
	text-align: center;
}

#zvetblue {
	position: relative;
  	background: blue;
  	width: 60px; 
  	height: 60px;
  	top: -30px;
  	left: 340px;
  	z-index: -1;
}

#zvetgreen {
	position: relative;
  	background: green;
  	width: 60px; 
  	height: 60px;
  	top: -70px;
  	left: 380px;
  	z-index: 0;
}

#zvetyellow {
	position: relative;
  	background: yellow;
  	width: 60px; 
  	height: 60px;
  	top: -150px;
  	left: 420px;
  	z-index: -1;
}
