body {
	background: blue;
}

#photo img {
	border: 3px white dotted;
	border-radius: 150px;
	height: 300px;
	width:auto;
}

#photo2 img {
	border: 3px white dotted;
	border-radius: 150px;
	height: 300px;
	width:auto;
}
